# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

cabenv/
# dependencies
eonwebapp/node_modules
eonwebapp/.pnp
eonwebapp/.pnp.*
eonwebapp/.yarn/*
eonwebapp/!.yarn/patches
eonwebapp/!.yarn/plugins
eonwebapp/!.yarn/releases
eonwebapp/!.yarn/versions

# testing
eonwebapp/coverage
